ol li{
    list-style: decimal;
    margin: 1.5em
    
}

.redes{
   display: flex;
    margin: 0.5em;
    position:absolute;
    left: 60em;
   
    
}

.social{
    width: 50px;
    margin-left: 10px;
    
}

.boton1{
    padding: 0.9em;
    color: #000000;
    font-size: 1.5vmax;
    border: 0.9em;
    background-color: #A4D9D0;
    border-radius: 10em;
    width: 19.19%;   
    
   
}
   

.letra{
    font-weight: bolder;
    text-align: center;
    font-size: 4vmax;
    margin: 1.5em;
    
}


.numero {
    font-weight: bolder;
    font-size: 1.6vmax;
    background-color: #E5EBEA;
    border-radius: 1em;
    width:fit-content;
}

.premio {
    font-weight: bolder;
    font-size: 1.6vmax;
    background-color: #E5EBEA;
    border-radius: 1em;
    width:fit-content;
}

.pago{
    font-weight: bolder;
    font-size: 1.6vmax;
    background-color: #E5EBEA;
    border-radius: 1em;
    width:fit-content;
}
.botonrifa{
    text-align: center;
    margin: 4em;
    
}
 .boton1:hover {
    color: #0E7B5B;
 }

.social1{
    width: 60px;
    margin-left: 10px;
  
}

