.body1{ 
    background: url(../imagenes/Fondo2.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}


ol li{
    list-style: decimal;
    margin: 1.5em   
}

.boton1{
    padding: 0.9em;
    color: #000000;
    font-size: 1.5vmax;
    border: 0.9em;
    background-color: #A4D9D0;
    border-radius: 10em;    
}
   

.letra{
    font-weight: bolder;
    text-align: center;
    font-size: 4vmax;
    margin: 1.5em;
}


.numero {
    font-weight: bolder;
    font-size: 1.7vmax;
    background-color: #E5EBEA;
    border-radius: 1.5em;
    width:fit-content;
}

.premio {
    font-weight: bolder;
    font-size: 1.7vmax;
    background-color: #E5EBEA;
    border-radius: 1.5em;
    width:fit-content;
}

.pago{
    font-weight: bolder;
    font-size: 1.7vmax;
    background-color: #E5EBEA;
    border-radius: 1.5em;
    width:fit-content;
}

.botonrifa{
    text-align: center;
    margin: 5em; 
}

 .boton1:hover {
    color: #0E7B5B;
 }

 @media screen and (max-width: 1200px){
    .container-index{
        background: url(../imagenes/Fondo2.jpg) no-repeat;
        background-attachment: fixed;
        background-size: cover;
}
}
 