.bodyfondo{
    background: url(../img/fondo-planes.jpg)fixed no-repeat;
    background-size: cover;

}

.tituloplanes{
    text-align: center;
    padding-bottom: 50px;
    font-weight: bold;
    color: #f7f2f2;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(233, 231, 231, 0.50);
    transform: translateY(-3%);
}

.card img{
    width: 100%;
    height: 225px;
    
}

@media screen and (max-width: 425px) {
    .t-titulo{
        color:var(#000)
    }

    .card{
        width: 250px;
        margin: auto;
        

    }
}


