*{
    margin: 0em;
    padding: 0em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.fondo1{
    background-image: url(../imagenes/Fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fondo2{
    background-image: linear-gradient(rgba(233, 241, 248, 0.15),rgba(235, 239, 250, 0.50)),url(../imagenes/Fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fondo3{
    background-image: url(../imagenes/Fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fondo4{
    background-image: url(../imagenes/Fondo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar-brand{
    color: black;
    text-decoration: none;
}

.navbar-brand img{
    width: 3em;
}

.navbar-brand:hover{
    color: black;
    text-decoration: none;
}

.logo_mf > a:hover, .nav_mf > a:hover{
    color: black;
}

.login_mf > a:hover{
    color: white;
}

.logo_mf{
    display: flex;
}

.logo_mf img{
    height: 3em;
}

.nav_mf{
    background-color: #E2F0EF;
    border-radius: 1em;
    align-self: center;
}
.login_mf{
    background-color: #313e50;
    border-radius: 1em;
    flex-grow: 0.1;
    display: flex;
    justify-content: center;
    align-self: center;
}

.nav-login{
    background-color: #313E50;
}

.sec_pregunta{
    margin: 6em 4em; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.container h1 {
    font-size: 35px;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.container form {
    font-size: 15px;
}

.container form .form-group {
    margin-bottom: 12px;
}

.form-check-input {
    padding: 8px;
    margin-top: 8px;
}

.container form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
}

input {
    border-color: rgb(55, 73, 151);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(100, 65, 19, 0.6);
    outline: 0 none;
}

.registrate {
    color: blue;
}

.ingresa {
    color: white;
}

/*danna*/
.form-select {
    width: 360px;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(100, 65, 19, 0.6);
}

.form-control {
    width: 360px;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(100, 65, 19, 0.6);
}
