/* estilos generales*/
*{
    margin: 0;
    padding: 0;
}

body {

    background-image: url("../imagenes/Fondo2.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;

}

/*estilo provisorio para identificar el espacio de la navbar*/
.header {

    background-color: rgb(240, 207, 207);
    opacity:0.4;
    width: 100%;
    height: 110px;
    text-align: center;
    
}


/* estilos del formulario de rifa*/
.content {
    
    width: 100%;
    /* height: 480px; */
    text-align: center;

}

/* estilos del footer - provisorio?*/
.footer {

    background-color: rgb(240, 207, 207);
    opacity:0.3;
    width: 100%;
    /* height: 60px; */
    text-align: center;
    margin-top: 50px;
  
}