*{
    margin: 0em;
    padding: 0em;
    font-family: 'Roboto', sans-serif;
    font-weight:bolder;
}

.fondo1{
    background-image: url(../imagenes/Fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fondo2{
    background-image: linear-gradient(rgba(233, 241, 248, 0.15),rgba(235, 239, 250, 0.50)),url(../imagenes/Fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fondo3{
    background-image: url(../imagenes/Fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fondo4{
    background-image: url(../imagenes/Fondo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar-brand{
    color: black;
    text-decoration: none;
}

.navbar-brand img{
    width: 3em;
}

.navbar-brand:hover{
    color: black;
    text-decoration: none;
}

.nav-link{
    background-color: #E2F0EF;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
}

.nav-login{
    background-color: #313E50;
}

.sec_pregunta{
    margin: 1em 4em; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.pregunta{
    font-weight: bolder;
    align-self:flex-start;
    padding: 0.2em;
    width:fit-content;
    background-color: #edeaea;
    border-radius: 1em;
}

.pregunta ~ p{
    font-weight: 900;
    display: flex;
    justify-content:flex-start;
    margin-bottom: 2em;
}

.sec_rifasactuales > h3{
    font-weight: bolder;
    margin-bottom: 0.5em;
}

.sec_rifasactuales{
    text-align: center;
}

.busqueda{
    border: 0.1em solid rgb(82, 81, 81); 
    border-radius: 1em;
}

.boton{
    padding: 0.4em;
    color: white;
    font-size: small;
    border: 0.1em;
    background-color: #313e50;
    border-radius: 1em;
}

.contenedorrifas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.p_fila{
    opacity: 0.5;
    color: white;
    background-color: #a6a6a6;
    width: 10em;
    height: 10em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 2em;
}

.s_fila{
    opacity: 0.5;
    color: white;
    background-color: #3f7973;
    width: 10em;
    height: 10em;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3em 2em;
}

.p_fila:hover, .s_fila:hover{
    opacity: 1.0;
}

footer {
    position: fixed;
    bottom: 2%;
    right: 2%; 
    letter-spacing: 0.2em;
    font-size: 3em;
}

footer a{
    color: black;
}