<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/styles.css">   
    <link rel="stylesheet" href="../css/contactanos.css">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>MIRIFA.NET - Contacto</title>

</head>

<body class="fondo2">
    <header>
        <nav class="navbar navbar-expand-lg d-flex">
            <div class="container-fluid">

                <a class="navbar-brand" href="./index.html">
                    <img src="../imagenes/Logo-mirifa.png" alt="Logo" class="d-inline-block">MIRIFA.NET

                </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">

                    <a class="nav-link active" aria-current="page" href="./rifasactuales.html">RIFAS ACTUALES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./planes.html">PLANES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./contactanos.html">CONTACTANOS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./preguntasfrecuentes.html">PREGUNTAS FRECUENTES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-login text-white" href="./login.html">INGRESA</a>

                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <div class="container" style="background-color: #E2F0EF;">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mt-6 mb-6">

                <div class="text-center mb-6">
                    <br>
                    <h1 class="mb-3 big"><b>Contacto</b></h1>
                    
                    <form class="needs-validation" novalidate  id= "form" >
                    <h4 class="mb-3 big"><b>¿Quieres saber mas?</b></h4>

                    <p class="text"> Puedes resolver preguntas simples más rápido en nuestra sección de <a href="./preguntasfrecuentes.html">Preguntas Frecuentes</a> o llenando el Formulario</p>
                    

                </div>

                <div class="mb-3">
                    <label for="exampleFormControlNombre" class="form-label">Nombre</label>
                    <input type="texto" class="form-control" id="exampleFormControlNombre" placeholder="Nombre" required>
                    <div class="valid-feedback">
                     ok
                    </div>
                <div class="invalid-feedback">
                    Completar Nombre
                </div> 
                </div>
                

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required >
                    <div class="valid-feedback">
                     ok
                    </div>
                <div class="invalid-feedback">
                    Ingrese un Correo Electrónico
                  </div> 
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlAsunto" class="form-label">Asunto</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione el Asunto</option>
                        <option value="1">Contacto / Preguntas</option>
                        <option value="2">Solicitud de Facturas</option>
                        <option value="3">Ventas</option>
                        <option value="4">Problemas con Sorteo</option>
                        <option value="5">Problemas con Pagos</option>
                      </select>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlMensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="exampleFormControlMensaje" rows="3" required></textarea>
                    <div class="valid-feedback">
                      ok
                     </div>
                    <div class="invalid-feedback">
                      Ingrese Mensaje
                    </div> 
                    
                </div>
                <!-- <button type="submit" class="btn btn-primary" style="background-color: #313e50; border-color: #313e50">Enviar</button> -->
                <button type="submit" class="btn btn-primary" style="background-color: #313e50; border-color: #313e50">Enviar</a>
           </form>
            </div>

        </div>

    </div>

    
    <footer class="footer"> 
        <br>
        <br>
        <div class="container-fluid pt-3 pb-3">
            <div class="row justify-content-center">
                <div class="col-12 col-md-3">
                    <h5><b>MiRifa.net</b></h5>
                        <p>Sistema de venta, gestión y administración de Rifas virtuales con sorteo de ganadores.</p>
                </div>
                
                <div class="col-12 col-md-3">
                    <h5><b>Nosotros</b></h5>
                        <p>Tenemos más de 10 años de experiencia siendo especialistas en soluciones tecnológicas, modernas, intuitivas y seguras.</p>
                </div> 

                <div class="col-12 col-md-3">
                    <h5><b>Contacto</b></h5>
                        <p>Vía E-mail: info@mirifa.net</p>
                        
                        <p>En nuestras redes sociales: @mirifanet</p>
                
                        <p>Por teléfono: 91-1234-567</p>
                        
                </div> 

  
                <div class= "col-12 col-md-3">
                    <h5><b>Síguenos</b></h5>
                    <br>
  
                    <img src="../imagenes/logotipo-de-instagram.png" 
                        class="mb-3" alt="30" width="30" height="30">
                    <img src="../imagenes/facebook.png" 
                        class="mb-3" alt="30" width="30" height="30">
                    <img src="../imagenes/whatsapp.png" 
                        class="mb-3" alt="30" width="30" height="30">
                    <img src="../imagenes/gorjeo.png" 
                        class="mb-3" alt="30" width="30" height="30">
                </div> 
                
  
                <div class="row justify-content-center">
                    <div class="text-center social-links mt-4">
                        <p><span class="legalLinks"><a href="../html/terms.html" target="_blank" rel="nofollow noopener noreferrer"><h6>Terminos y Condiciones</h6></a></span>
                            <br>
                            © 2022 
                            <a href="./index.html" target="_blank">MiRifa</a>

                            ™. Todos los derechos reservados.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <script src="../js/validcontacto.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>