<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/registro_login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>MIRIFA.NET - Registro</title>
</head>
<body class="fondo1">
  <header>
    <nav class="navbar navbar-expand-lg d-flex">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html">
                <img src="../imagenes/Logo-mirifa.png" alt="Logo" class="d-inline-block">MIRIFA.NET
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./rifasactuales.html">RIFAS ACTUALES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./planes.html">PLANES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CONTACTANOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./preguntasfrecuentes.html">PREGUNTAS FRECUENTES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-login text-white" href="#">INGRESA</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
</header>
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-4 ">
            <div class="container mb-3 mt-1 mb-1">

    

                <h1 class="text-center">Registrarse</h1>

                <form class="needs-validation" novalidate  id= "form" >

                  <div class="form-group">
                    <label class="form-label" for="nombre">Nombre</label>
                    <input class="form-control rounded-pill" type="texto" id="nombre" required>
                    <div class="valid-feedback">
                      Ok
                    </div>
                    <div class="invalid-feedback">
                      Completar Nombre
                    </div> 
                  </div>

                  <div class="form-group">
                    <label class="form-label" for="apellido">Apellido</label>
                    <input class="form-control rounded-pill" type="texto" id="apellido" required>
                    <div class="valid-feedback">
                      Ok
                    </div>
                    <div class="invalid-feedback">
                      Completar Apellido
                    </div> 
                  </div>  

                  <div class="form-group">
                    <label class="form-label" for="dni">DNI</label>
                    <input class="form-control rounded-pill" type="number" id="dni" required>
                    <div class="valid-feedback">
                      Ok
                    </div>
                    <div class="invalid-feedback">
                      Completar DNI
                    </div> 
                  </div>

                  <div class="form-group">
                    Pais:
                    <select name="pais" class="form-control rounded-pill">
                      <option value="Elegir" id="AF">Seleccione un pais</option>
                      <option value="Afganistán" id="AF">Afganistán</option>
                      <option value="Albania" id="AL">Albania</option>
                      <option value="Alemania" id="DE">Alemania</option>
                      <option value="Andorra" id="AD">Andorra</option>
                      <option value="Angola" id="AO">Angola</option>
                      <option value="Anguila" id="AI">Anguila</option>
                      <option value="Antártida" id="AQ">Antártida</option>
                      <option value="Antigua y Barbuda" id="AG">Antigua y Barbuda</option>
                      <option value="Antillas holandesas" id="AN">Antillas holandesas</option>
                      <option value="Arabia Saudí" id="SA">Arabia Saudí</option>
                      <option value="Argelia" id="DZ">Argelia</option>
                      <option value="Argentina" id="AR">Argentina</option>
                      <option value="Armenia" id="AM">Armenia</option>
                      <option value="Aruba" id="AW">Aruba</option>
                      <option value="Australia" id="AU">Australia</option>
                      <option value="Austria" id="AT">Austria</option>
                      <option value="Azerbaiyán" id="AZ">Azerbaiyán</option>
                      <option value="Bahamas" id="BS">Bahamas</option>
                      <option value="Bahrein" id="BH">Bahrein</option>
                      <option value="Bangladesh" id="BD">Bangladesh</option>
                      <option value="Barbados" id="BB">Barbados</option>
                      <option value="Bélgica" id="BE">Bélgica</option>
                      <option value="Belice" id="BZ">Belice</option>
                      <option value="Benín" id="BJ">Benín</option>
                      <option value="Bermudas" id="BM">Bermudas</option>
                      <option value="Bhután" id="BT">Bhután</option>
                      <option value="Bielorrusia" id="BY">Bielorrusia</option>
                      <option value="Birmania" id="MM">Birmania</option>
                      <option value="Bolivia" id="BO">Bolivia</option>
                      <option value="Bosnia y Herzegovina" id="BA">Bosnia y Herzegovina</option>
                      <option value="Botsuana" id="BW">Botsuana</option>
                      <option value="Brasil" id="BR">Brasil</option>
                      <option value="Brunei" id="BN">Brunei</option>
                      <option value="Bulgaria" id="BG">Bulgaria</option>
                      <option value="Burkina Faso" id="BF">Burkina Faso</option>
                      <option value="Burundi" id="BI">Burundi</option>
                      <option value="Cabo Verde" id="CV">Cabo Verde</option>
                      <option value="Camboya" id="KH">Camboya</option>
                      <option value="Camerún" id="CM">Camerún</option>
                      <option value="Canadá" id="CA">Canadá</option>
                      <option value="Chad" id="TD">Chad</option>
                      <option value="Chile" id="CL">Chile</option>
                      <option value="China" id="CN">China</option>
                      <option value="Chipre" id="CY">Chipre</option>
                      <option value="Ciudad estado del Vaticano" id="VA">Ciudad estado del Vaticano</option>
                      <option value="Colombia" id="CO">Colombia</option>
                      <option value="Comores" id="KM">Comores</option>
                      <option value="Congo" id="CG">Congo</option>
                      <option value="Corea" id="KR">Corea</option>
                      <option value="Corea del Norte" id="KP">Corea del Norte</option>
                      <option value="Costa del Marfíl" id="CI">Costa del Marfíl</option>
                      <option value="Costa Rica" id="CR">Costa Rica</option>
                      <option value="Croacia" id="HR">Croacia</option>
                      <option value="Cuba" id="CU">Cuba</option>
                      <option value="Dinamarca" id="DK">Dinamarca</option>
                      <option value="Djibouri" id="DJ">Djibouri</option>
                      <option value="Dominica" id="DM">Dominica</option>
                      <option value="Ecuador" id="EC">Ecuador</option>
                      <option value="Egipto" id="EG">Egipto</option>
                      <option value="El Salvador" id="SV">El Salvador</option>
                      <option value="Emiratos Arabes Unidos" id="AE">Emiratos Arabes Unidos</option>
                      <option value="Eritrea" id="ER">Eritrea</option>
                      <option value="Eslovaquia" id="SK">Eslovaquia</option>
                      <option value="Eslovenia" id="SI">Eslovenia</option>
                      <option value="España" id="ES">España</option>
                      <option value="Estados Unidos" id="US">Estados Unidos</option>
                      <option value="Estonia" id="EE">Estonia</option>
                      <option value="c" id="ET">Etiopía</option>
                      <option value="Ex-República Yugoslava de Macedonia" id="MK">Ex-República Yugoslava de Macedonia</option>
                      <option value="Filipinas" id="PH">Filipinas</option>
                      <option value="Finlandia" id="FI">Finlandia</option>
                      <option value="Francia" id="FR">Francia</option>
                      <option value="Gabón" id="GA">Gabón</option>
                      <option value="Gambia" id="GM">Gambia</option>
                      <option value="Georgia" id="GE">Georgia</option>
                      <option value="Georgia del Sur y las islas Sandwich del Sur" id="GS">Georgia del Sur y las islas Sandwich del Sur</option>
                      <option value="Ghana" id="GH">Ghana</option>
                      <option value="Gibraltar" id="GI">Gibraltar</option>
                      <option value="Granada" id="GD">Granada</option>
                      <option value="Grecia" id="GR">Grecia</option>
                      <option value="Groenlandia" id="GL">Groenlandia</option>
                      <option value="Guadalupe" id="GP">Guadalupe</option>
                      <option value="Guam" id="GU">Guam</option>
                      <option value="Guatemala" id="GT">Guatemala</option>
                      <option value="Guayana" id="GY">Guayana</option>
                      <option value="Guayana francesa" id="GF">Guayana francesa</option>
                      <option value="Guinea" id="GN">Guinea</option>
                      <option value="Guinea Ecuatorial" id="GQ">Guinea Ecuatorial</option>
                      <option value="Guinea-Bissau" id="GW">Guinea-Bissau</option>
                      <option value="Haití" id="HT">Haití</option>
                      <option value="Holanda" id="NL">Holanda</option>
                      <option value="Honduras" id="HN">Honduras</option>
                      <option value="Hong Kong R. A. E" id="HK">Hong Kong R. A. E</option>
                      <option value="Hungría" id="HU">Hungría</option>
                      <option value="India" id="IN">India</option>
                      <option value="Indonesia" id="ID">Indonesia</option>
                      <option value="Irak" id="IQ">Irak</option>
                      <option value="Irán" id="IR">Irán</option>
                      <option value="Irlanda" id="IE">Irlanda</option>
                      <option value="Isla Bouvet" id="BV">Isla Bouvet</option>
                      <option value="Isla Christmas" id="CX">Isla Christmas</option>
                      <option value="Isla Heard e Islas McDonald" id="HM">Isla Heard e Islas McDonald</option>
                      <option value="Islandia" id="IS">Islandia</option>
                      <option value="Islas Caimán" id="KY">Islas Caimán</option>
                      <option value="Islas Cook" id="CK">Islas Cook</option>
                      <option value="Islas de Cocos o Keeling" id="CC">Islas de Cocos o Keeling</option>
                      <option value="Islas Faroe" id="FO">Islas Faroe</option>
                      <option value="Islas Fiyi" id="FJ">Islas Fiyi</option>
                      <option value="Islas Malvinas Islas Falkland" id="FK">Islas Malvinas Islas Falkland</option>
                      <option value="Islas Marianas del norte" id="MP">Islas Marianas del norte</option>
                      <option value="Islas Marshall" id="MH">Islas Marshall</option>
                      <option value="Islas menores de Estados Unidos" id="UM">Islas menores de Estados Unidos</option>
                      <option value="Islas Palau" id="PW">Islas Palau</option>
                      <option value="Islas Salomón" d="SB">Islas Salomón</option>
                      <option value="Islas Tokelau" id="TK">Islas Tokelau</option>
                      <option value="Islas Turks y Caicos" id="TC">Islas Turks y Caicos</option>
                      <option value="Islas Vírgenes EE.UU." id="VI">Islas Vírgenes EE.UU.</option>
                      <option value="Islas Vírgenes Reino Unido" id="VG">Islas Vírgenes Reino Unido</option>
                      <option value="Israel" id="IL">Israel</option>
                      <option value="Italia" id="IT">Italia</option>
                      <option value="Jamaica" id="JM">Jamaica</option>
                      <option value="Japón" id="JP">Japón</option>
                      <option value="Jordania" id="JO">Jordania</option>
                      <option value="Kazajistán" id="KZ">Kazajistán</option>
                      <option value="Kenia" id="KE">Kenia</option>
                      <option value="Kirguizistán" id="KG">Kirguizistán</option>
                      <option value="Kiribati" id="KI">Kiribati</option>
                      <option value="Kuwait" id="KW">Kuwait</option>
                      <option value="Laos" id="LA">Laos</option>
                      <option value="Lesoto" id="LS">Lesoto</option>
                      <option value="Letonia" id="LV">Letonia</option>
                      <option value="Líbano" id="LB">Líbano</option>
                      <option value="Liberia" id="LR">Liberia</option>
                      <option value="Libia" id="LY">Libia</option>
                      <option value="Liechtenstein" id="LI">Liechtenstein</option>
                      <option value="Lituania" id="LT">Lituania</option>
                      <option value="Luxemburgo" id="LU">Luxemburgo</option>
                      <option value="Macao R. A. E" id="MO">Macao R. A. E</option>
                      <option value="Madagascar" id="MG">Madagascar</option>
                      <option value="Malasia" id="MY">Malasia</option>
                      <option value="Malawi" id="MW">Malawi</option>
                      <option value="Maldivas" id="MV">Maldivas</option>
                      <option value="Malí" id="ML">Malí</option>
                      <option value="Malta" id="MT">Malta</option>
                      <option value="Marruecos" id="MA">Marruecos</option>
                      <option value="Martinica" id="MQ">Martinica</option>
                      <option value="Mauricio" id="MU">Mauricio</option>
                      <option value="Mauritania" id="MR">Mauritania</option>
                      <option value="Mayotte" id="YT">Mayotte</option>
                      <option value="México" id="MX">México</option>
                      <option value="Micronesia" id="FM">Micronesia</option>
                      <option value="Moldavia" id="MD">Moldavia</option>
                      <option value="Mónaco" id="MC">Mónaco</option>
                      <option value="Mongolia" id="MN">Mongolia</option>
                      <option value="Montserrat" id="MS">Montserrat</option>
                      <option value="Mozambique" id="MZ">Mozambique</option>
                      <option value="Namibia" id="NA">Namibia</option>
                      <option value="Nauru" id="NR">Nauru</option>
                      <option value="Nepal" id="NP">Nepal</option>
                      <option value="Nicaragua" id="NI">Nicaragua</option>
                      <option value="Níger" id="NE">Níger</option>
                      <option value="Nigeria" id="NG">Nigeria</option>
                      <option value="Niue" id="NU">Niue</option>
                      <option value="Norfolk" id="NF">Norfolk</option>
                      <option value="Noruega" id="NO">Noruega</option>
                      <option value="Nueva Caledonia" id="NC">Nueva Caledonia</option>
                      <option value="Nueva Zelanda" id="NZ">Nueva Zelanda</option>
                      <option value="Omán" id="OM">Omán</option>
                      <option value="Panamá" id="PA">Panamá</option>
                      <option value="Papua Nueva Guinea" id="PG">Papua Nueva Guinea</option>
                      <option value="Paquistán" id="PK">Paquistán</option>
                      <option value="Paraguay" id="PY">Paraguay</option>
                      <option value="Perú" id="PE">Perú</option>
                      <option value="Pitcairn" id="PN">Pitcairn</option>
                      <option value="Polinesia francesa" id="PF">Polinesia francesa</option>
                      <option value="Polonia" id="PL">Polonia</option>
                      <option value="Portugal" id="PT">Portugal</option>
                      <option value="Puerto Rico" id="PR">Puerto Rico</option>
                      <option value="Qatar" id="QA">Qatar</option>
                      <option value="Reino Unido" id="UK">Reino Unido</option>
                      <option value="República Centroafricana" id="CF">República Centroafricana</option>
                      <option value="República Checa" id="CZ">República Checa</option>
                      <option value="República de Sudáfrica" id="ZA">República de Sudáfrica</option>
                      <option value="República Democrática del Congo Zaire" id="CD">República Democrática del Congo Zaire</option>
                      <option value="República Dominicana" id="DO">República Dominicana</option>
                      <option value="Reunión" id="RE">Reunión</option>
                      <option value="Ruanda" id="RW">Ruanda</option>
                      <option value="Rumania" id="RO">Rumania</option>
                      <option value="Rusia" id="RU">Rusia</option>
                      <option value="Samoa" id="WS">Samoa</option>
                      <option value="Samoa occidental" id="AS">Samoa occidental</option>
                      <option value="San Kitts y Nevis" id="KN">San Kitts y Nevis</option>
                      <option value="San Marino" id="SM">San Marino</option>
                      <option value="San Pierre y Miquelon" id="PM">San Pierre y Miquelon</option>
                      <option value="San Vicente e Islas Granadinas" id="VC">San Vicente e Islas Granadinas</option>
                      <option value="Santa Helena" id="SH">Santa Helena</option>
                      <option value="Santa Lucía" id="LC">Santa Lucía</option>
                      <option value="Santo Tomé y Príncipe" id="ST">Santo Tomé y Príncipe</option>
                      <option value="Senegal" id="SN">Senegal</option>
                      <option value="Serbia y Montenegro" id="YU">Serbia y Montenegro</option>
                      <option value="Sychelles" id="SC">Seychelles</option>
                      <option value="Sierra Leona" id="SL">Sierra Leona</option>
                      <option value="Singapur" id="SG">Singapur</option>
                      <option value="Siria" id="SY">Siria</option>
                      <option value="Somalia" id="SO">Somalia</option>
                      <option value="Sri Lanka" id="LK">Sri Lanka</option>
                      <option value="Suazilandia" id="SZ">Suazilandia</option>
                      <option value="Sudán" id="SD">Sudán</option>
                      <option value="Suecia" id="SE">Suecia</option>
                      <option value="Suiza" id="CH">Suiza</option>
                      <option value="Surinam" id="SR">Surinam</option>
                      <option value="Svalbard" id="SJ">Svalbard</option>
                      <option value="Tailandia" id="TH">Tailandia</option>
                      <option value="Taiwán" id="TW">Taiwán</option>
                      <option value="Tanzania" id="TZ">Tanzania</option>
                      <option value="Tayikistán" id="TJ">Tayikistán</option>
                      <option value="Territorios británicos del océano Indico" id="IO">Territorios británicos del océano Indico</option>
                      <option value="Territorios franceses del sur" id="TF">Territorios franceses del sur</option>
                      <option value="Timor Oriental" id="TP">Timor Oriental</option>
                      <option value="Togo" id="TG">Togo</option>
                      <option value="Tonga" id="TO">Tonga</option>
                      <option value="Trinidad y Tobago" id="TT">Trinidad y Tobago</option>
                      <option value="Túnez" id="TN">Túnez</option>
                      <option value="Turkmenistán" id="TM">Turkmenistán</option>
                      <option value="Turquía" id="TR">Turquía</option>
                      <option value="Tuvalu" id="TV">Tuvalu</option>
                      <option value="Ucrania" id="UA">Ucrania</option>
                      <option value="Uganda" id="UG">Uganda</option>
                      <option value="Uruguay" id="UY">Uruguay</option>
                      <option value="Uzbekistán" id="UZ">Uzbekistán</option>
                      <option value="Vanuatu" id="VU">Vanuatu</option>
                      <option value="Venezuela" id="VE">Venezuela</option>
                      <option value="Vietnam" id="VN">Vietnam</option>
                      <option value="Wallis y Futuna" id="WF">Wallis y Futuna</option>
                      <option value="Yemen" id="YE">Yemen</option>
                      <option value="Zambia" id="ZM">Zambia</option>
                      <option value="Zimbabue" id="ZW">Zimbabue</option>
                      </select>
                  </div>

                  <div class="form-group">
                    Ciudad:
                    <select name="pais" class="form-control rounded-pill">
                      <option value="Elegirciudad" id="Ciudad">Seleccione una ciudad</option>
                      <option value="Buenos Aires">Buenos Aires</option>
                      <option value="Buenos Aires Capital">Buenos Aires Capital</option>
                      <option value="Catamarca">Catamarca</option>
                      <option value="Chaco">Chaco</option>
                      <option value="Chubut">Chubut</option>
                      <option value="Cordoba">Cordoba</option>
                      <option value="Corrientes">Corrientes</option>
                      <option value="Entre Rios">Entre Rios</option>
                      <option value="Formosa">Formosa</option>
                      <option value="Jujuy">Jujuy</option>
                      <option value="La Pampa">La Pampa</option>
                      <option value="La Rioja">La Rioja</option>
                      <option value="Mendoza">Mendoza</option>
                      <option value="Misiones">Misiones</option>
                      <option value="Neuquen">Neuquen</option>
                      <option value="Rio Negro">Rio Negro</option>
                      <option value="Salta">Salta</option>
                      <option value="San Juan">San Juan</option>
                      <option value="San Luis">San Luis</option>
                      <option value="Santa Cruz">Santa Cruz</option>
                      <option value="Santa Fe">Santa Fe</option>
                      <option value="Santiago del Estero">Santiago del Estero</option>
                      <option value="Tierra del Fuego">Tierra del Fuego</option>
                      <option value="Tucuman">Tucuman</option>
                      </select>

                  </div>
                  
                  <div class="form-group">
                    <label class="form-label" for="telefono">Telefono</label>
                    <input class="form-control rounded-pill" type="number" id="telefono" required>
                    <div class="valid-feedback">
                      Campo no obligatorio
                    </div>
                  </div>
                    
                  <div class="form-group">
                      <label class="form-label" for="nombreusuario">Nombre de Usuario</label>
                      <input class="form-control rounded-pill" type="texto" id="nombreusuario" required>
                      <div class="valid-feedback">
                        Nombre de Usuario correcto
                      </div>
                      <div class="invalid-feedback">
                        Completar Nombre de Usuario
                      </div> 
                  </div>
                        
                  <div class="form-group">
                      <label class="form-label" for="email">Correo Electrónico</label>
                      <input class="form-control rounded-pill" type="email" id="email" required>
                      <div class="valid-feedback">
                        Correo Electrónico correcto
                      </div>
                      <div class="invalid-feedback">
                        Ingrese un Correo Electrónico
                      </div> 
                  </div>
            
                  <div class="form-group">
                      <label class="form-label" for="password">Contraseña</label>
                      <input class="form-control rounded-pill" type="password" id="password" required>
                      <div class="invalid-feedback">
                        Ingrese una Contraseña
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="form-label" for="password">Repetir Contraseña</label>
                      <input class="form-control rounded-pill" type="password" id="password1" required>
                      <div class="invalid-feedback">
                        Ingrese una Contraseña
                      </div>
                  </div>

                  <button class="btn btn-success w-100 mt-4 rounded-pill" style="background-color: #313e50; border-color: #313e50" type="submit" >Registrarse</button>
                

                  <div class="my-4">
                  <span>¿Ya tienes una cuenta?
                  <a class="registrate" href="login.html">Ingresa</a></span> 
                  </div>
                </form>
            </div>

        </div>
    </div>
    <footer class="footer"> 
      <br>
      <br>
      <div class="container-fluid pt-3 pb-3">
          <div class="row justify-content-center">
              <div class="col-12 col-md-3">
                  <h5><b>MiRifa.net</b></h5>
                      <p>Sistema de venta, gestión y administración de Rifas virtuales con sorteo de ganadores.</p>
              </div>
              
              <div class="col-12 col-md-3">
                  <h5><b>Nosotros</b></h5>
                      <p>Tenemos más de 10 años de experiencia siendo especialistas en soluciones tecnológicas, modernas, intuitivas y seguras.</p>
              </div> 

              <div class="col-12 col-md-3">
                  <h5><b>Contacto</b></h5>
                      <p>Vía E-mail: info@mirifa.net</p>
                      
                      <p>En nuestras redes sociales: @mirifanet</p>
              
                      <p>Por teléfono: 91-1234-567</p>
                      
              </div> 


              <div class= "col-12 col-md-3">
                  <h5><b>Síguenos</b></h5>
                  <br>

                  <img src="../imagenes/logotipo-de-instagram.png" 
                      class="mb-3" alt="30" width="30" height="30">
                  <img src="../imagenes/facebook.png" 
                      class="mb-3" alt="30" width="30" height="30">
                  <img src="../imagenes/whatsapp.png" 
                      class="mb-3" alt="30" width="30" height="30">
                  <img src="../imagenes/gorjeo.png" 
                      class="mb-3" alt="30" width="30" height="30">
              </div> 
              

              <div class="row justify-content-center">
                  <div class="text-center social-links mt-4">
                      <p><span class="legalLinks"><a href="../html/terms.html" target="_blank" rel="nofollow noopener noreferrer"><h6>Terminos y Condiciones</h6></a></span>
                          <br>
                          © 2022 
                          <a href="./index.html" target="_blank">MiRifa</a>

                          ™. Todos los derechos reservados.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </footer>
    <script src="../js/validacion-registro.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>