/* estilos generales*/
*{
    margin: 0;
    padding: 0;
}

body {

    background-image: url("../imagenes/Fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*configurar el fondo para q sea responsive y acompañe los distintos tamaños*/

}

/*estilo provisorio para identificar el espacio de la navbar*/
.header {

    /*background-color: rgb(240, 207, 207);*/
    opacity:0.4;
    width: 100%;
    height: 110px;
    text-align: center;
    
}


/* estilos del formulario de rifa*/
.content {
    
    width: 100%;
    /* height: 480px; */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
label {
    font-weight: bold;
}

.info_final {
    
    border: 3px solid #328a87;
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px;
}
/* estilos del footer - provisorio?*/
.footer {

    background-color: rgb(240, 207, 207);
    opacity:0.3;
    width: 100%;
    /* height: 60px; */
    text-align: center;
    margin-top: 50px;
    /*position: absolute;*/
    bottom: 0;
  
}